*{
    padding: 0%;

    background-color: #FFF8DE;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  
}
html,body{
    
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    
}
#imgLogo{
    background: transparent;
    max-height: 100%;
     max-width: 100%;
  position: fixed;
   top: 10px; left: 10px;
z-index: 1000;

}
#stlogin{
     background: transparent;
    font-size: 40px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
    text-align: center;

}
p{
     background: transparent;
}

#p2{
    
    color: #f78809;
}
#p3{
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
a{
    text-decoration: none;
    display: inline-block;
    color: white;
    background-color: #f78809;
}
button{
     
    
    background-color: #f78809;
    color: white;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: none;
    border-radius: 4px ;
     box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
        transition: transform 0.2s, background-color 0.2s;
         cursor: pointer;
}
#getLoginData{
     background: transparent;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

height: 40vh;
flex-direction: column;
gap: 10px;

}

label{
    margin-right: 130px;
}
#getUserName{
text-align: center;
font-size: 20px;
border-radius: 6px;
 

}

#getUserPassword{
text-align: center;
font-size: 20px;
border-radius: 6px;
 
}
button:hover{
 transform: scale(1.05);
  background-color: #e67e22;
}
input:hover{
     transform: scale(1.05);
}